
.container-header{

}
.section-img{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.placa{
    height: 25%;
}

h2{
    font-size: 500px;
}